body {
  margin: 15px;
}

header {
  background-color: black;
  padding-bottom: 25px;
  padding-left: 25px;
}

header > h1,
p {
  color: white;
  margin-left: 20px;
}

button {
  margin: 15px 0;
  margin-left: 20px;
}

.card img {
  max-height: fit-content;
  max-width: fit-content;
  display: flex;
  align-self: center;
}

.card p {
  color: grey;
}
